# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#R Read the csv file
file_read = pd.read_csv("./Cities_Output.csv")

# Create a data frame
vacation_data = pd.DataFrame(file_read) 
vacation_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bariloche,-41.1456,-71.3082,47.44,54,0,6.91,AR,1628127497
1,1,Ushuaia,-54.8000,-68.3000,47.86,66,40,4.61,AR,1628127492
2,2,Yellowknife,62.4560,-114.3525,55.92,58,90,9.22,CA,1628127500
3,3,Tuy Hoa,13.0833,109.3000,90.12,54,100,16.42,VN,1628127433
4,4,Westport,41.1415,-73.3579,70.20,88,90,8.99,US,1628127502
...,...,...,...,...,...,...,...,...,...,...
570,570,Thunder Bay,48.4001,-89.3168,78.57,76,90,2.30,CA,1628128236
571,571,Samarkand,39.6542,66.9597,74.62,41,0,9.22,UZ,1628128339
572,572,Liverpool,53.4106,-2.9779,59.09,79,100,3.00,GB,1628128341
573,573,Guilin,25.2819,110.2864,87.91,66,93,3.85,CN,1628128342
574,574,Sitka,57.0531,-135.3300,62.49,82,90,5.75,US,1628128343

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key= g_key)

In [4]:
# Create a heat map for humidity per location

# Store Lat and Lng
locations = vacation_data[["Lat", "Lng"]]

# Replace Nan values and convert to float
humidity = vacation_data["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down cities that fit criteria and drop any results with null values
vacation_df = vacation_data.loc[(vacation_data['Max Temp'] > 65) & (vacation_data['Wind Speed'] < 10) & 
                                (vacation_data['Cloudiness'] < 10),:]
len(vacation_df)

81

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create the hotel data frame the finds hotels within 5000 meters of ideal locations
hotel_df = vacation_df[['City','Country','Lat','Lng']].reset_index(drop=True)
hotel_df.head()

            City Country      Lat       Lng
0     Kiryat Gat      IL  31.6100   34.7642
1  Alta Floresta      BR  -9.8756  -56.0861
2   Saint George      US  37.1041 -113.5841
3          Avera      US  33.1940  -82.5271
4    Gainesville      US  29.6516  -82.3248

In [7]:
# Add Hotel Name as new column
hotel_df["Hotel Name"] = ""
hotel_df. head()

            City Country      Lat       Lng Hotel Name
0     Kiryat Gat      IL  31.6100   34.7642
1  Alta Floresta      BR  -9.8756  -56.0861
2   Saint George      US  37.1041 -113.5841
3          Avera      US  33.1940  -82.5271
4    Gainesville      US  29.6516  -82.3248

In [8]:
# Set parameters and find hotels within 5000 meters
params = {
    "radius": 5000,
    "keyword": "lodging",
    "key": g_key,
}

# Search through list
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # Get locations
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Request
    print(f"Retrieving Results for City {index+1}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # Find results
    results = response['results']
    
    try:
        print(f"Lodging option is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Skipping.")
        
    print("------------")

Retrieving Results for City 1: Kiryat Gat.
Skipping.
------------
Retrieving Results for City 2: Alta Floresta.
Skipping.
------------
Retrieving Results for City 3: Saint George.
Skipping.
------------
Retrieving Results for City 4: Avera.
Skipping.
------------
Retrieving Results for City 5: Gainesville.
Skipping.
------------
Retrieving Results for City 6: Butaritari.
Skipping.
------------
Retrieving Results for City 7: Cabinda.
Skipping.
------------
Retrieving Results for City 8: Hasaki.
Skipping.
------------
Retrieving Results for City 9: Dali.
Skipping.
------------
Retrieving Results for City 10: ShingÅ«.
Skipping.
------------
Retrieving Results for City 11: Iberia.
Skipping.
------------
Retrieving Results for City 12: Beyneu.
Skipping.
------------
Retrieving Results for City 13: Bud.
Skipping.
------------
Retrieving Results for City 14: Douglas.
Skipping.
------------
Retrieving Results for City 15: Talnakh.
Skipping.
------------
Retrieving Results for City 16: Junction City.
Skipping.
------------
Retrieving Results for City 17: Kitob.
Skipping.
------------
Retrieving Results for City 18: Bay City.
Skipping.
------------
Retrieving Results for City 19: Muroto-misakicho.
Skipping.
------------
Retrieving Results for City 20: Katsuura.
Skipping.
------------
Retrieving Results for City 21: Atuona.
Skipping.
------------
Retrieving Results for City 22: Miramar.
Skipping.
------------
Retrieving Results for City 23: Ribeira Grande.
Skipping.
------------
Retrieving Results for City 24: Chongqing.
Skipping.
------------
Retrieving Results for City 25: Colares.
Skipping.
------------
Retrieving Results for City 26: Mayo.
Skipping.
------------
Retrieving Results for City 27: Baza.
Skipping.
------------
Retrieving Results for City 28: Yangi Marg`ilon.
Skipping.
------------
Retrieving Results for City 29: Urla.
Skipping.
------------
Retrieving Results for City 30: Turbat.
Skipping.
------------
Retrieving Results for City 31: Seydi.
Skipping.
------------
Retrieving Results for City 32: Sohag.
Skipping.
------------
Retrieving Results for City 33: Port Said.
Skipping.
------------
Retrieving Results for City 34: Ponta do Sol.
Skipping.
------------
Retrieving Results for City 35: Las Vegas.
Skipping.
------------
Retrieving Results for City 36: Cayenne.
Skipping.
------------
Retrieving Results for City 37: Moose Factory.
Skipping.
------------
Retrieving Results for City 38: Kalemie.
Skipping.
------------
Retrieving Results for City 39: Baharly.
Skipping.
------------
Retrieving Results for City 40: Half Moon Bay.
Skipping.
------------
Retrieving Results for City 41: Manono.
Skipping.
------------
Retrieving Results for City 42: Nyurba.
Skipping.
------------
Retrieving Results for City 43: Saint Anthony.
Skipping.
------------
Retrieving Results for City 44: Pangoa.
Skipping.
------------
Retrieving Results for City 45: Vilhena.
Skipping.
------------
Retrieving Results for City 46: AripuanÃ£.
Skipping.
------------
Retrieving Results for City 47: Verkhnevilyuysk.
Skipping.
------------
Retrieving Results for City 48: Aktobe.
Skipping.
------------
Retrieving Results for City 49: Nelson Bay.
Skipping.
------------
Retrieving Results for City 50: Tarsus.
Skipping.
------------
Retrieving Results for City 51: Byron Bay.
Skipping.
------------
Retrieving Results for City 52: Bandar-e Anzali.
Skipping.
------------
Retrieving Results for City 53: Richland Hills.
Skipping.
------------
Retrieving Results for City 54: Kohlu.
Skipping.
------------
Retrieving Results for City 55: Yamada.
Skipping.
------------
Retrieving Results for City 56: Marrakesh.
Skipping.
------------
Retrieving Results for City 57: SÃ£o FÃ©lix do Xingu.
Skipping.
------------
Retrieving Results for City 58: Great Bend.
Skipping.
------------
Retrieving Results for City 59: Bundaberg.
Skipping.
------------
Retrieving Results for City 60: Cobija.
Skipping.
------------
Retrieving Results for City 61: Piranshahr.
Skipping.
------------
Retrieving Results for City 62: Bilma.
Skipping.
------------
Retrieving Results for City 63: Saint-Pierre.
Skipping.
------------
Retrieving Results for City 64: Chino.
Skipping.
------------
Retrieving Results for City 65: Kamaishi.
Skipping.
------------
Retrieving Results for City 66: Uglovoye.
Skipping.
------------
Retrieving Results for City 67: Fethiye.
Skipping.
------------
Retrieving Results for City 68: Sidi Ali.
Skipping.
------------
Retrieving Results for City 69: Korla.
Skipping.
------------
Retrieving Results for City 70: Haifa.
Skipping.
------------
Retrieving Results for City 71: Shimoda.
Skipping.
------------
Retrieving Results for City 72: Fairbanks.
Skipping.
------------
Retrieving Results for City 73: Matagami.
Skipping.
------------
Retrieving Results for City 74: Ewo.
Skipping.
------------
Retrieving Results for City 75: Tosya.
Skipping.
------------
Retrieving Results for City 76: Edson.
Skipping.
------------
Retrieving Results for City 77: Lebanon.
Skipping.
------------
Retrieving Results for City 78: Taggia.
Skipping.
------------
Retrieving Results for City 79: Marshall.
Skipping.
------------
Retrieving Results for City 80: Apache Junction.
Skipping.
------------
Retrieving Results for City 81: Samarkand.
Skipping.
------------

In [9]:
# Remove the hotels with missing criteria
hotel_df.dropna()

               City Country      Lat       Lng Hotel Name
0        Kiryat Gat      IL  31.6100   34.7642
1     Alta Floresta      BR  -9.8756  -56.0861
2      Saint George      US  37.1041 -113.5841
3             Avera      US  33.1940  -82.5271
4       Gainesville      US  29.6516  -82.3248
..              ...     ...      ...       ...        ...
76          Lebanon      US  36.2081  -86.2911
77           Taggia      IT  43.8485    7.8545
78         Marshall      US  34.3834  -86.3333
79  Apache Junction      US  33.4151 -111.5496
80        Samarkand      UZ  39.6542   66.9597

[81 rows x 5 columns]

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

markers = gmaps.marker_layer(locations)
vacation_spots = gmaps.symbol_layer(locations, info_box_content = hotel_info, scale = 2)

In [13]:
# Add marker layer ontop of heat map

fig.add_layer(markers)
fig.add_layer(vacation_spots)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))